<div class="container white">
    <h1>About</h1>
    <p></p>
    <li>
        <p>This is a sample website of an Online Banking System. The System helps bank customer manage
            their accounts, manage credit cards, transfer funds, and monitor account activities.
        </p>
    </li>
    <li>
        <p><b>Programming Language Used: </b> AngularJS, JQuery
        </p>
    </li>
    <li>
        <p><b>Author: </b>Bonnie Wang
        </p>
    </li>
    <li>
        <p><b>Version: </b>v1.0-beta
        </p>
    </li>
</div>